In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

In [4]:
import json
import urllib.request

# QUERY_URL = "https://www.alphavantage.co/query?function={REQUEST_TYPE}&apikey={KEY}&symbol={SYMBOL}&outputsize=full"
API_KEY = "GDFMG7QXIZS4308T"

def _request(symbol, req_type):
    with urllib.request.urlopen(QUERY_URL.format(REQUEST_TYPE=req_type, KEY=API_KEY, SYMBOL=symbol)) as req:
        data = req.read().decode("UTF-8")
    return data

def get_daily_data(symbol):
    return json.loads(_request(symbol, 'TIME_SERIES_DAILY'))

In [5]:
json_data = get_daily_data('AAPL')

In [6]:
json_data.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [7]:
apple = pd.DataFrame(json_data['Time Series (Daily)']).T
apple.head()

             1. open   2. high    3. low  4. close 5. volume
2020-01-08  297.1600  304.4399  297.1560  303.1900  32669876
2020-01-07  299.8400  300.9000  297.4800  298.3900  27877655
2020-01-06  293.7900  299.9600  292.7500  299.8000  29644644
2020-01-03  297.1500  300.5800  296.5000  297.4300  36633878
2020-01-02  296.2400  300.6000  295.1900  300.3500  33911864

In [8]:
apple.rename_axis("date", axis='index', inplace=True)

In [9]:
apple_df = apple.rename(columns={'1. open':'open', '2. high': 'high', '3. low': 'low', '4. close': 'close', '5. volume': 'volume'})
apple_df.head()

                open      high       low     close    volume
date
2020-01-08  297.1600  304.4399  297.1560  303.1900  32669876
2020-01-07  299.8400  300.9000  297.4800  298.3900  27877655
2020-01-06  293.7900  299.9600  292.7500  299.8000  29644644
2020-01-03  297.1500  300.5800  296.5000  297.4300  36633878
2020-01-02  296.2400  300.6000  295.1900  300.3500  33911864

In [10]:
apple_df.reset_index('date', inplace = True)

In [11]:
apple_df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [12]:
apple_df['date'] = pd.to_datetime(apple_df['date'])
apple_data = apple_df[apple_df['date'] > '2016-12-31']

In [13]:
apple_data.tail()

          date      open      high       low     close    volume
754 2017-01-09  117.9500  119.4300  117.9400  118.9900  33561948
755 2017-01-06  116.7800  118.1600  116.4700  117.9100  31751900
756 2017-01-05  115.9200  116.8642  115.8100  116.6100  22193587
757 2017-01-04  115.8500  116.5100  115.7500  116.0200  21118116
758 2017-01-03  115.8000  116.3300  114.7600  116.1500  28781865

In [16]:
apple_data = apple_data.rename(columns={"date": "Date",
                               "open": "Open",
                               "high": "High",
                               "low": "Low",
                               "close": "Close",
                               "volume": "Volume"})

In [17]:
apple_data['Year'] = apple_data['Date'].dt.year
apple_data['Quarter'] = apple_data['Date'].dt.quarter
apple_data

,Date,Open,High,Low,Close,Volume,Year,Quarter
0,2020-01-08,297.1600,304.4399,297.1560,303.1900,32669876,2020,1
1,2020-01-07,299.8400,300.9000,297.4800,298.3900,27877655,2020,1
2,2020-01-06,293.7900,299.9600,292.7500,299.8000,29644644,2020,1
3,2020-01-03,297.1500,300.5800,296.5000,297.4300,36633878,2020,1
4,2020-01-02,296.2400,300.6000,295.1900,300.3500,33911864,2020,1
5,2019-12-31,289.9300,293.6800,289.5200,293.6500,25247625,2019,4
6,2019-12-30,289.4600,292.6900,285.2200,291.5200,36059614,2019,4
7,2019-12-27,291.1200,293.9700,288.1200,289.8000,36592936,2019,4
8,2019-12-26,284.8200,289.9800,284.7000,289.9100,23334004,2019,4
9,2019-12-24,284.6900,284.8900,282.9197,284.2700,12119714,2019,4
10,2019-12-23,280.5300,284.2500,280.3735,284.0000,24677883,2019,4
11,2019-12-20,282.2300,282.6500,278.5600,279.4400,69032743,2019,4
12,2019-12-19,279.5000,281.1800,278.9500,280.0200,24626947,2019,4
13,2019-12-18,279.8000,281.9000,279.1200,279.7400,29024687,2019,4
14,2019-12-17,279.5700,281.7700,278.8000,280.4100,28575798,2019,4
15,2019-12-16,277.0000,280.7900,276.9800,279.8600,32081105,2019,4
16,2019-12-13,271.4600,275.3000,270.9300,275.1500,33432806,2019,4
17,2019-12-12,267.7800,272.5599,267.3210,271.4600,34437042,2019,4
18,2019-12-11,268.8100,271.1000,268.5000,270.7700,19723391,2019,4
19,2019-12-10,268.6000,270.0700,265.8600,268.4800,22632383,2019,4
20,2019-12-09,270.0000,270.8000,264.9100,266.9200,32182645,2019,4
21,2019-12-06,267.4800,271.0000,267.3000,270.7100,26547493,2019,4
22,2019-12-05,263.7900,265.8900,262.7300,265.5800,18661343,2019,4
23,2019-12-04,261.0700,263.3100,260.6800,261.7400,16810388,2019,4
24,2019-12-03,258.3100,259.5300,256.2900,259.4500,29377268,2019,4
25,2019-12-02,267.2700,268.2500,263.4500,264.1600,23693550,2019,4
26,2019-11-29,266.6000,268.0000,265.9000,267.2500,11654363,2019,4
27,2019-11-27,265.5800,267.9800,265.3100,267.8400,16386122,2019,4
28,2019-11-26,266.9400,267.1600,262.5000,264.2900,26334882,2019,4
29,2019-11-25,262.7100,266.4400,262.5200,266.3700,21029517,2019,4
...,...,...,...,...,...,...,...,...
729,2017-02-14,133.4700,135.0900,133.2500,135.0200,33226223,2017,1
730,2017-02-13,133.0800,133.8200,132.7500,133.2900,23035421,2017,1
731,2017-02-10,132.4600,132.9400,132.0500,132.1200,20065458,2017,1
732,2017-02-09,131.6500,132.4450,131.1200,132.4200,28349859,2017,1
733,2017-02-08,131.3500,132.2200,131.2200,132.0400,23004072,2017,1
734,2017-02-07,130.5400,132.0900,130.4500,131.5300,38183841,2017,1
735,2017-02-06,129.1300,130.5000,128.9000,130.2900,26845924,2017,1
736,2017-02-03,128.3100,129.1900,128.1600,129.0800,24507301,2017,1
737,2017-02-02,127.9750,129.3900,127.7800,128.5300,33710411,2017,1
738,2017-02-01,127.0300,130.4900,127.0100,128.7500,111985040,2017,1
739,2017-01-31,121.1500,121.3900,120.6200,121.3500,49200993,2017,1
740,2017-01-30,120.9300,121.6300,120.6600,121.6300,30377503,2017,1
741,2017-01-27,122.1400,122.3500,121.6000,121.9500,20562944,2017,1
742,2017-01-26,121.6700,122.4400,121.6000,121.9400,26337576,2017,1
743,2017-01-25,120.4200,122.1000,120.2800,121.8800,32586673,2017,1
744,2017-01-24,119.5500,120.1000,119.5000,119.9700,23211038,2017,1
745,2017-01-23,120.0000,120.8100,119.7700,120.0800,22050218,2017,1
746,2017-01-20,120.4500,120.4500,119.7346,120.0000,32597892,2017,1
747,2017-01-19,119.4000,120.0900,119.3700,119.7800,25597291,2017,1
748,2017-01-18,120.0000,120.5000,119.7100,119.9900,23712961,2017,1
749,2017-01-17,118.3400,120.2400,118.2200,120.0000,34439843,2017,1
750,2017-01-13,119.1100,119.6200,118.8100,119.0400,26111948,2017,1
751,2017-01-12,118.8950,119.3000,118.2100,119.2500,27086220,2017,1
752,2017-01-11,118.7400,119.9300,118.6000,119.7500,27588593,2017,1
753,2017-01-10,118.7700,119.3800,118.3000,119.1100,24462051,2017,1
754,2017-01-09,117.9500,119.4300,117.9400,118.9900,33561948,2017,1
755,2017-01-06,116.7800,118.1600,116.4700,117.9100,31751900,2017,1
756,2017-01-05,115.9200,116.8642,115.8100,116.6100,22193587,2017,1
757,2017-01-04,115.8500,116.5100,115.7500,116.0200,21118116,2017,1
758,2017-01-03,115.8000,116.3300,114.7600,116.1500,28781865,2017,1

In [18]:
apple_data.to_csv('../ML-Project/apple.csv',index=True)